<h1>Home</h1>
<%=link_to "My Labs", home_mylabs_path%><br/>
<%=link_to "My Groups", home_mygroups_path%><br/>
<%=link_to "Lab registration", home_labreg_path%><br/>
<p>Find me in app/views/home/index.html.erb</p>
